<html>
<link rel="stylesheet" href="/stylesheets/styleCarrinho.css">

<%- include('../partials/header') %>

    <body>
        <main>
            <div class="title">
                <h1>
                    ESTE É O SEU CARRINHO
                </h1>

                <h2>
                    Confira se está tudo aqui e finalize a sua compra!
                </h2>
            </div>

            <section class="product-list">

                <% if(carrinho && carrinho.length> 0){ %>
                    <% carrinho.map(servico=> { %>
                        <div class="card">

                            <div class="service-image">
                                <img src="/uploads/<%= servico.imagem %>">
                            </div>

                            <div class="service-information">
                                <!-- <div class="card-title">ID: <%= servico.id_servico %></div> -->

                                <div class="card-title">Serviço de <%= servico.titulo %>
                                </div>

                                <!-- <div class="card-description">Descrição: <%= servico.descricao %> </div> -->

                                <div class="card-quant">

                                    <div class="text-quant">
                                        Quant.
                                    </div>

                                    <div class="quant-manager">
                                        <form action="/carrinho/diminuir" method="post" class="substract">
                                            <button type="submit">
                                                <img src="/images/minusIcon.png">
                                            </button>
                                        </form>

                                        <input type="number" name="quantidade" class="quantidade"
                                            value="<%= servico.quantidade %>" min="1" max="9" maxlength="1" readonly>

                                        <form action="/carrinho/aumentar/<%= servico.id %>" method="post" class="add">
                                            <button type="submit">
                                                <img src="/images/plusIcon.png">
                                            </button>
                                        </form>

                                    </div>

                                </div>

                                <div class="card-value">
                                    R$ <%= servico.valor %>
                                </div>

                                <div class="remove-item">
                                    <form action="/carrinho/remover/?_method=DELETE" method="post">
                                        <button type="submit">
                                            <img src="/images/removeFromCart.png">
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <div class="empty-cart">
                                    <p>
                                        Não existem serviços no carrinho
                                    </p>
                                </div>
                                <% } %>

            </section>

            <section class="resume-options">
                <div class="purchase-value">
                    <p>
                        Valor total R$ <%= valorTotalArredondado %>
                    </p>
                </div>

                
                <div class="checkout-button">
                    <a href="/users/checkout">CONTRATAR SERVIÇO</a>
                </div>

            </section>

        </main>

    </body>

    <%- include('../partials/footer') %>

</html>