<%- include('../partials/header') %>

    <link rel="stylesheet" href="/stylesheets/servicosPrincipal.css">

    <main>

        <h1 id="titulo-vitrine">
            <p>ESCOLHA UM</p>
            <p>DE NOSSOS SERVIÇOS</p>
        </h1>

        <section class="container-vitrine">

            <div class="row">
                <% if (servicos && servicos.length> 0) { %>
                    <% servicos.map(servico=> { %>
                        <div class="card-servico">
                            <div class="imagem">
                                <img src="/uploads/<%= servico.imagem %>">
                            </div>
                            <div class="titulo-servicos">
                                <%= servico.titulo %>
                            </div>
                            <div class="texto-servicos">
                                <div id="value">
                                    R$<%= servico.valor %>
                                </div>
                                <div id="value-text">
                                    (pelo período de 3 horas)
                                </div>
                            </div>

                            <div>
                                <form action="/carrinho/adicionar/<%= servico.id_servico %>" method="post" class="button-comprar">
                                    <button type="submit">
                                        <div class="button-cart">
                                            <img src="/images/cartIcon.png">
                                        </div>
                                        <p>
                                            Contrate o serviço
                                        </p>
                                    </button>
                                </form>
                            </div>


                        </div>
            </div>
            </div>
            <% }) %>
                <% } else { %>
                    <h4> Nenhum serviço cadastrado </h4>
                    <% } %>

        </section>

    </main>


    <%- include('../partials/footer') %>