<html>

    <%- include('../../partials/header') %>

    <link rel="stylesheet" href="/stylesheets/stylePerfil.css">

        <body>

            <main>
                <div id="container-title">
                    <h1 id="title"> ESSE É O SEU PERFIL OMNI</h1>
                </div>

                <div class="container-all">

                    <div class="espacoFoto">
                        <img class="foto" src="/uploads/<%= user.foto %>">
                    </div>

                    <div class="container-formPerfil">
                        <div class="label">Nome</div>
                        <input type="text" readonly value="<%= user.nome %>">
                        <div class="label">E-mail</div>
                        <input type="text" readonly value="<%= user.email %>">
                        <div class="label">Senha</div>
                        <input type="password" readonly value="">
                    </div>

                </div>

                <div id="div-botoes">
                    <a href="/users/perfil/edit/<%= user.id %>">
                        <button class="botao" id="normalFlag">EDITAR PERFIL</button>
                    </a>

                    <form method="POST" action="/users/perfil/delete/<%=user.id%>?_method=DELETE">
                        <button class="botao" id="redFlag">EXCLUIR PERFIL</button>
                    </form>

                </div>

            </main>
        </body>

    <%- include('../../partials/footer') %>

</html>