<%- include('../../partials/header') %>

<link rel="stylesheet" href="/stylesheets/stylePerfil.css">

<main>
    <div id="container-title">
        <h1 id="title"> Perfil do usuário <span><%= user.nome %></span></h1>
    </div>

    <div class="container-all">
        
        <div class="espacoFoto">
            <img class="foto" src="/uploads/<%= user.foto %>">
        </div>         

        <div class="container-formPerfil">
            <div class="label">Nome</div>
            <input type="text" readonly value="<%= user.nome %>">
            <div class="label">E-mail</div>
            <input type="text" readonly value="<%= user.email %>">
            <div class="label">Senha</div>
            <input type="password" readonly value="">
        </div>

    </div>

    <div id="div-botoes">
        <a href="edit/<%= user.id %>">
            <button class="botao" id="normalFlag">EDITAR PERFIL</button>
        </a>
        
        <form method="POST" action="/users/perfil/delete/<%= user.id %>?_method=DELETE">
            <button class="botao" id="redFlag">EXCLUIR PERFIL</button>
        </form>
            
    </div>

</main>

<%- include('../../partials/footer') %>