<html>
<!-- HEAD -->
<%- include('../../partials/header') %>
<link rel="stylesheet" href="/stylesheets/userList.css">
<!-- HEAD -->

<body>
    <main>
        <div class="column">
            <% if (users && users.length > 0) { %>
                <% users.map(user => { %>
                    <div class="card">
                        <div class="foto">
                            <img src="/uploads/<%=user.avatar%>">
                        </div>
                        <div class="label">Nome:</div>
                        <div class="data"><%= user.nome %></div>
                        <div class="label">Email:</div>
                        <div class="data"><%= user.email %></div>
                    </div>
                    <div class="column">
                        <a class="button" href="/admin/user/perfil/<%= user.id %>">
                            Visualizar perfil
                        </a>
                    </div>
    
                <% }) %>
            <% } else { %>
                <h4> Nenhum usuário cadastrado </h4>
            <% } %>
        </div>    
    </main>
 
</body>

<!-- FOOTER -->
<%- include('../../partials/footer') %>
<!-- FOOTER -->

</html>